_auth = c2FfZG9jYXZlbnVlX2RlcGxveTpBUDN4cXlaZHFKcEEzYmtwWjk3c21LcmlMUVlaWTNzNGdmS1BuQQ==
email = sa_docavenue_deploy@docavenue.com
always-auth = true
registry="https://artefacts.docavenue.com/artifactory/api/npm/npm-general/"
@docavenue:registry=https://artefacts.docavenue.com/artifactory/api/npm/npm-local/
//artefacts.docavenue.com/artifactory/api/npm/npm-local/:_password=QVAzeHF5WmRxSnBBM2JrcFo5N3NtS3JpTFFZWlkzczRnZktQbkE=
//artefacts.docavenue.com/artifactory/api/npm/npm-local/:username=sa_docavenue_deploy
//artefacts.docavenue.com/artifactory/api/npm/npm-local/:email=sa_docavenue_deploy@docavenue.com
//artefacts.docavenue.com/artifactory/api/npm/npm-local/:always-auth=true
